@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-primary: 33 37 41;
        --color-primary-dark: 13 17 23;
        --color-secondary: 245 158 11;
        --color-secondary-dark: 217 119 6;
    }
    
    body {
        color: var(--color-primary-dark);
        background-color: #fff;
    }
}

@layer components {
    .animate-fade-in {
        animation: fadeIn 0.3s ease-in-out;
    }
    
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}

@layer utilities {
    .container {
        max-width: 80rem;
        margin-left: auto;
        margin-right: auto;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
